<form action="/Artists/@Model.GetId()" method="post">
  <div class="form-group">
    <label for="name">Name: </label>
    <input id="name" name="name" type="text" class="form-control">
  </div>
  <button type="submit" class="btn btn-info">Add your Album</button>
</form>
