<form action="/Artists" method="post">
  <div class="form-group">
    <label for="name">Name: </label>
    <input id="name" name="name" type="text" class="form-control">
  </div>
  <button type="submit" class="btn btn-info">Add your artist</button>
</form>

<br>

<a href="/Artists"><button class="btn btn-danger">Go to Artists Homepage</button></a>
